<div class="header">
    <div class="content admin-relative">
        <img class="admin-logo" src="./devmountain-logo.png" alt="devmountain logo">
        <div class="admin-header-button">
            <h2>Send Survey</h2>
        </div>
        <div class="admin-header-button">
            <h2>Edit Templates</h2>
        </div>
        <div class="admin-header-button">
            <h2>View Results</h2>
        </div>
    </div>
</div>
<div class="min-height">
    <div class="content">
        <div class="admin-test box-shadow">
            
        </div>
    </div>
</div>
<div class="footer">
    
</div>