<h2 ng-hide="isTemplate">{{title}}</h2>
<h1 ng-show="isTemplate">Choose a Template</h1>
<div class="admin-dropdown-container box-shadow">
    <div ng-hide="isTemplate" class="admin-send-survey-input" ng-click="show()">
                <h3>{{selected.name}} - {{selected.location.city}}</h3>
    </div>
    <div ng-show="isTemplate" class="admin-send-survey-input" ng-click="show()">
                <h3>{{selected.title}} </h3>
    </div>
    <div ng-show="shown" class="admin-dropdown-hidden box-shadow">
        <div ng-if="!isTemplate">
            <div class="admin-dropdown-entity-container">
                <div class="admin-dropdown-entity" ng-click="select(entity.id)" ng-repeat="entity in entities.entities | filter:dropdownSearch">
                    <p>{{entity.name}} - {{entity.location.city}}</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div class="admin-dropdown-container-footer">
                <input type="" name="" value="" ng-model="dropdownSearch">
                <div ng-hide="isCohort" class="admin-home-button">
                    <p>Add {{entities.type}}</p>
                </div>
                <div ng-show="isCohort" class="admin-home-button">
                    <p>Refresh {{entities.type}}s</p>
                </div>
            </div>
        </div>
        <div ng-if="isTemplate">
            <div class="admin-dropdown-entity-container">
                <div class="admin-dropdown-entity" ng-click="select(entity.id)" ng-repeat="entity in entities | filter:dropdownSearch">
                    <p>{{entity.title}}</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div class="admin-dropdown-container-footer">
                <input type="" name="" value="" ng-model="dropdownSearch">
                <div ng-hide="isCohort" class="admin-home-button">
                    <p>Add Template</p>
                </div>
            </div>
        </div>
    </div>
</div>