<div class="header" >
 	<div class="content user-relative">
	<img class="user-logo" src="./devmountain-logo.png" alt="devmountain logo">
	<div class="user-logout"  ng-click="logout()">Logout</div>
</div>
</div>
<div class="min-height content">

	<div class="user-question-wrapper">
    <form ng-submit="processForm()">
		<div ng-repeat="q in survey.questions">
			<user-question-directive question = "q"></user-question-directive>

		</div>
  </form>
	</div>
  <div class="user-button-answers" ng-click="submit()" >Submit</div>
</div>
