<div class="user-survey-box box-shadow " >
  

	<h4 ng-class="{incomplete: question.incomplete == true}" > <input class="admin-resize-input" ng-model="question.questionText" /><br/></h4>

	<div ng-show="textAnswer">
	<textarea name="answer.." class="user-text " cols="60" rows="3" placeholder="Type something here..." ng-model="textValue"></textarea>
</div>



<div ng-show="numberAnswer" class="user-numberAnswer">
	<!-- <span  style="color:red;" id="slider-value"></span> -->
<div class="user-rating-min">
  <input class="admin-resize-input-tag" type="text" ng-model="question.min.tag" /><br/>
  <input class="admin-resize-input-value" type="numeric" ng-model="question.min.value" /><br/>
</div>

<div class="user-thumb-slider">
<div ng-bind-html="numberString"></div>
<input type="range" min="{{question.min.value}}" max="{{question.max.value}}" value="1" name="slider"  ng-model="sliderValue" >
<h3 class="display-value">{{sliderValue}}</h3>
</div>

<div class="user-rating-max">
  <input class="admin-resize-input-tag" type="text" ng-model="question.max.tag" /><br/>
  <input class="admin-resize-input-value" type="numeric" ng-model="question.max.value" /><br/>
</div>
<!-- <output for="slider" onforminput="value = foo.valueAsNumber;"></output> -->
</div>



	<div ng-show="booleanAnswer" class="user-answer">
		<form action="">
		<input type="radio" name="answer" value="true" >Yes
		<input type="radio" name="answer" value="false" >No<br>
</form>
	</div>

<!-- ng-click="answerno(question)" -->

</div>
