<div class="header">
 	<div class="content user-relative">
	<img class="user-logo" src="./devmountain-logo.png" alt="devmountain logo">
	<div class="user-logout">Logout</div>
</div>
</div>
<div class="min-height content" >
	<div class="wrapper">
	<div class="u-task">
		<div class='user-wrapper'>
		<h2>DM-20 Weekly Survey</h2>
		<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
		<hr/>
		<div class="user-button">Take Survey</div>
	</div>
	</div>

</div>
</div>
<div class="footer">

</div>
