<div class="header" >
 	<div class="content user-relative">
	<img class="user-logo" src="./devmountain-logo.png" alt="devmountain logo">
	<div class="user-logout">Logout</div>
</div>
</div>
<div class="min-height content">
	<div class="wrapper">
<div class='user-done' ng-show="noSurveys">YOUR ALL CAUGHT UP!</div>
	<!-- <div class="u-task box-shadow"  ng-repeat="s in userData.surveys"  >
		<div class='user-wrapper'>
			<h2>{{s.classTitle}}</h2>
			<h2 class='testLook'>{{s.title}}</h2>
			<p>{{s.description}}</p>
			<hr/>
			<div class="user-button">Take Survey</div>
		</div>
	</div> -->
	<div class="user-surveys-left">
		<div class="user-survey-container box-shadow" ng-repeat="survey in userData.surveysA">

			<h2 class='testLook'>{{survey.title}}</h2>
			<p>{{survey.description}}</p>
			<hr/>
			<a ui-sref="userSurveyPage"><div class="user-button">Take Survey</div></a>
		</div>
	</div>

	<div class="user-surveys-right">
		<div class="user-survey-container box-shadow" ng-repeat="survey in userData.surveysB">

			<h2 class='testLook'>{{survey.title}}</h2>
			<p>{{survey.description}}</p>
			<hr/>
			<a ui-sref="userSurveyPage"><div class="user-button">Take Survey</div></a>
		</div>
	</div>

	</div>
</div>
<div class="footer">

</div>
