
.admin-header {
	position: relative;
	height: 100px;

}
.admin-logo {
	height: 90px;
	float: left;
	position: relative;
	top: 50%;
	padding: 7px;
	transform: translate(0, -50%);
}
.admin-test {

	height: 100px;
	width: 100px;
	background-color: $white;
}
.admin-header-button {
	float: left;
	position: relative;
	top: 50%;
	padding: 7px;
	transform: translate(0, -50%);
	margin-left: 30px;
	cursor: pointer;
	h2 {
		color: $white;
		margin: 0;
		font-weight: 400;
	}
}
.admin-header-button:hover {
	background-color: $blue;
}

.admin-recent-surveys {
	float: right;

	h1 {
		text-align: center;
		color: $grey;
	}

}
.admin-survey-entry {
	background-color: $white;
	position: relative;
	margin-top: 10px;
	width: 500px;
	min-height: 70px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h3 {
		max-width: 320px;
		margin: 0;
		display: inline-block;
		color: $grey;
	}
}
.admin-recent-templates {
	float: left;

	h1 {
		text-align: center;
		color: $grey;
	}

}
.admin-template-entry {
	background-color: $white;
	position: relative;
	margin-top: 10px;
	width: 500px;
	min-height: 70px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 {
		max-width: 320px;
		display: inline-block;
		margin: 0;
		color: $grey;
	}
}
.admin-progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	background-color: $blue;
}
.admin-home-button {
	float: right;
	background-color: $blue;
	// position: relative;
	// top: 50%;
	padding: 7px;
	// transform: translate(0, -50%);
	cursor: pointer;
	p {
		color: $white;
		margin: 0;
		font-weight: 400;
		font-size: 1.3em;
	}
}
.admin-home-button:hover {
	background-color: $blueHighlight;
}
