/////MY SECTION///////////

//////////USER.HTML/////////////////////////////////////////////////////////////////
////////////////////////////////////////////////
/////////////////////
.user-content {
  width: 100vw;
  background-color: #f4f4f4;
  height: 370px;

}
.user-relative {
	position: relative
}
.user-logo {
    height: 90px;
    height: 90px;
    margin: 5px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.wrapper {
  // padding-left: 258px;
	padding-top: 100px;
    /* padding-right: 100px; */
}

.u-task {

  height: 230px;
  width: 400px;
  margin: 50px 50px;
  float: left;
  background-color: white;
  position: relative;

}
.user-logout {

  background-color: #383838;
  /* margin: 0px; */
  margin: 5px;
  float: right;
  text-align: center;
  font-weight: 400;
  padding: 3px 7px;
  color: #c1c1c1;
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0, 100%);
}

.user-wrapper {
  position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);

  p {
    margin-bottom: 20px;
    font-size: 0.8em;
  }
  hr {
    width: 80%;
    color: lightgrey;
  }
}
.testLook {

}
.user-surveys-left {
  float: left;
  margin-left: 100px;
  hr {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
.user-surveys-right {
  float: right;
  margin-right: 100px;
  hr {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.user-button {
  padding: 7px;
background-color: $blue;

color: white;
display: inline-block;
position: relative;
left: 50%;
transform: translate(-50%);
cursor: pointer;
}
.user-button:hover {
  background-color: $blueHighlight;
}



.user-survey-container {
  width: 425px;
  padding: 15px;
  background-color: $white;
  margin-bottom: 25px;
  h3 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  img {

  }
}
.user-done {
  // height: 40vh;
  // width: 50vw;
  border: solid black 1px;
  text-align: center;

  font-weight: 700;
  padding: 75px 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%)
}

.user-text {

}

//////////userQuestion.html/////////////////////////////////////////////////////////////////
////////////////////////////////////////////////
//////////////////////////////
.user-response {
  border: solid black 1px;
}
.user-survey-box {

      padding: 15px;
      background-color: white;
      margin-bottom: 25px;
      position: relative;
      background-color: white;
img {
  height: 25px;
  position: absolute;
}
h4 {
  text-align: center;

      margin-top: 0px;
      margin-bottom: 45px;
      background-color: $blue;
      color: white;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      padding: 7px;
      font-weight: 400;
      font-size: 1.2em;
}
textarea {

}
}
.user-text {
  width: 100%;
  margin-top: 40px;
}
.user-answer {
  margin-top: 25px;
}

/////////////survePage.html/////////////////////////////////////////////////////////
//////////////////////////////////////////////////
/////////////////////////
.user-question-wrapper {
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 100px;
}
