/////MY SECTION///////////



.user-content {
  width: 100vw;
  background-color: #f4f4f4;
  height: 370px;

}
.user-relative {
	position: relative
}
.user-logo {
    height: 90px;
    height: 90px;
    margin: 5px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.wrapper {
  // padding-left: 258px;
	padding-top: 100px;
    /* padding-right: 100px; */
}
.u-task {

    height: 230px;
    width: 350px;
    margin-right: 0vw;
    margin-left: 10vw;
    float: left;
    background-color: white;

		border: solid black 1px;

h2 {
	padding-left: 50px;
}
}
.user-logout {

	    height: 20px;
	    width: 7vw;
	    background-color: #25aae1;
	    /* margin: 0px; */
	    margin-top: 12vh;
	    float: right;
	    text-align: center;
	    font-weight: 700;
}
