
$blue: #25aae1 ;
$blueHighlight: #2BC3FF;
$lightBlue1: #ddf5ff;
$lightBlue2: #c4e3ef;
$grey: #383838 ;
$offWhite: #f4f4f4 ;
$white: white;
$red: #d9534f;
$redHighlight: #ff5b56;
$lightGrey: #A0A0A0;
$lightGreyHighlight: #c4c4c4;